<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
    <!-- Bootstrap link css -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/style.css">
     
</head>
<body>
    <div class="container">
        <!-- login form -->
       <form class="form-group" action="{{ url_for('login_page') }}" method="post">
            <div class="mb-3 bg p-5 rounded">
                <h2 class="text-center" style="color: crimson; font-weight: bold; font-family: 'monospace';">CollabSphere</h2>
                <h3 class="text-center-sl text-center" style="font-weight: bold;">Login</h3>
                
                <div class="dropdown mt-4">
                    <label for="role" class="form-label mt-4 fw-semibold">Role</label>
                    <a class="btn btn-secondary dropdown-toggle" href="/role" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Select
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('admin_login')}}">Admin</a></li>
                      <li><a class="dropdown-item" href="{{url_for('sponsor_login')}}">Sponsor</a></li>
                      <li><a class="dropdown-item" href="{{url_for('influencer_login')}}">Influencer</a></li>
                    </ul>
                  </div>

                  <p class="line mt-3">Don't have an account?<a class="link-opacity-100" href='{{ url_for('signup_page') }}'> Sign-Up</a></p> 

                <!-- <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-4" type="button">Login</button>
                </div> -->
            </div>    
        </form> 

    </div>



    <!-- Bootstrap link js -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>